@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');  

body{
background-color: black;
color: white;
font-family: "Great Vibes", cursive;
text-align: center;
 }

h1 span{
    font-family: "Dancing Script", cursive;
    color: crimson;
}

#dias_restantes{
    color: rgb(153, 8, 8);
    font-size: 50px;
 }